<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{{ order.customer_name }}'s Order</title>
</head>

<body>
    <h1>
        {{order.customer_name}}'s Order
    </h1>
    <p>
        Placed on {{order.date}} and made up of {{order.quantity}} items.
    </p>
</body>

</html>